@page "/"
@inject HttpClient Http

<h1>Welcome to AOE2 Ladder Stats!</h1>

<SurveyPrompt Title="How is Blazor working for you?" />


<div class="container text-center fixed-bottom border-top">
    <p>@DateTime.Now.Year © Developed by <a href="https://github.com/FernandoAMartinez">FernandoAMartinez</a></p>
    <p>Published on Github: <a href="https://github.com/FernandoAMartinez/AOE2UserRanks" class="font-italic">FernandoAMartinez/AOE2UserRanks</a></p>
    <p>Age of Empires II DE © Microsoft Corporation. <span class="font-italic">AOE2 Ladder Stats</span> was created under Microsoft's "<a href="https://www.xbox.com/en-us/developers/rules">Game Content Usage Rules</a>" using assets from Age of Empires II DE, and it is not endorsed by or affiliated with Microsoft.</p>
</div>

@code{
    private string requestedUsername;
    private string JsonResult;
    private Models.GeneralData GeneralData;
    private const string LANG = "en";
    private const string GAME = "aoe2de";
    private const string API_STRINGS = "https://aoe2.net/api/strings";
    protected override async Task OnInitializedAsync()
    {
        JsonResult = await Http.GetStringAsync($"{API_STRINGS}?game={GAME}&language={LANG}");
        //GeneralData = await Http.GetFromJsonAsync<Models.GeneralData>("https://aoe2.net/api/strings?game=aoe2de&language=en");
        GeneralData = Newtonsoft.Json.JsonConvert.DeserializeObject<Models.GeneralData>(JsonResult);
    }
}