@page "/"
@inject Services.IStringServices stringService

<div class="container">
    <div class="jumbotron text-dark">
        <h1 class="display-4">Welcome to AOE2 Ladder Stats!</h1>
        <p class="lead">This site is still in development, feel free to test it and any comment is welcome.</p>
        <hr class="my-4">
        <p>For issues and ideas please consider open a Github Issue.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>


@code {

    [Inject]
    protected Services.IStringServices ApiStrings { get; set; }

    private Models.GeneralData GeneralData;

    protected override async Task OnInitializedAsync()
    {
        GeneralData = await ApiStrings.GetStringsAsync("en");
    }
}