@page "/"
@inject Services.IStringServices stringService


<div class="jumbotron text-dark">
    <h1 class="display-4">Welcome to AOE2 Ladder Stats!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
@*<SurveyPrompt Title="How is Blazor working for you?" />*@


<div class="container text-center fixed-bottom border-top">
    <p>@DateTime.Now.Year © Developed by <a href="https://github.com/FernandoAMartinez">FernandoAMartinez</a></p>
    <p>Published on Github: <a href="https://github.com/FernandoAMartinez/AOE2UserRanks" class="font-italic">FernandoAMartinez/AOE2UserRanks</a></p>
    <p>Age of Empires II DE © Microsoft Corporation. <span class="font-italic">AOE2 Ladder Stats</span> was created under Microsoft's "<a href="https://www.xbox.com/en-us/developers/rules">Game Content Usage Rules</a>" using assets from Age of Empires II DE, and it is not endorsed by or affiliated with Microsoft.</p>
</div>


@code{

    [Inject]
    protected Services.IStringServices ApiStrings { get; set; }

    private Models.GeneralData GeneralData;

    protected override async Task OnInitializedAsync()
    {
        GeneralData = await ApiStrings.GetStringsAsync("en");
    }


}