@page  "/civilizations"
@inject HttpClient Http
@inject Services.IStringServices stringService

<h3>Civindex</h3>
<div class="container-fluid">
    @if (GeneralData == null)
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
        </div>
    }
    else
    {
        <div class="row">
            <div class="card-group">
                @foreach (var civ in GeneralData.Civilizations)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card text-center text-dark shadow">
                            <div class="card-header font-weight-bold"> @civ.Name </div>
                            <div class="card-img">
                                <img src="@string.Format($"/img/aoe2decivs/{civ.Name}.png")" width="64" height="64" />
                            </div>
                            <div class="card-body">
                                <div class=" row">
                                    <div class="col border bg-success text-dark font-weight-bold">Win</div>
                                    <div class="col border bg-danger text-dark font-weight-bold">Lose</div>
                                </div>
                                <div class=" row">
                                    <div class="col border">%Win</div>
                                    <div class="col border">%Lose</div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="@string.Format($"https://aoe2techtree.net/#{civ.Name}")">Tech Tree</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
@code {
    [Parameter]
    public string Lang { get; set; }

    [Inject]
    protected Services.IStringServices Api { get; set; }

    //private string JsonResult;
    private Models.GeneralData GeneralData;
    //private const string GAME = "aoe2de";
    //private const string API_STRINGS = "https://aoe2.net/api/strings";
    protected override async Task OnInitializedAsync()
    {
        GeneralData = await stringService.GetStringsAsync("en");
        //JsonResult = await Http.GetStringAsync($"{API_STRINGS}?game={GAME}&language={Lang}");
        //GeneralData = Newtonsoft.Json.JsonConvert.DeserializeObject<Models.GeneralData>(JsonResult);
    }
}
