@inherits LayoutComponentBase
@inject Services.IStringServices stringService
@inject ILocalStorageService localStorage

<div>
    <TopNavBar />
</div>

<div class="container-fluid bg-dark">
    <div class="main text-white">
        <div class="w-100 h-25 p-3 pt-3" />
        <div class="content mt-sm-5 mt-lg-5 text-white bg-dark">
            @Body
        </div>
    </div>

    <div class="text-white text-center border-top small position-static mt-auto">
        <p>
            @DateTime.Now.Year © Developed by <a href="https://github.com/FernandoAMartinez">FernandoAMartinez</a><br />
            Published on Github: <a href="https://github.com/FernandoAMartinez/AOE2UserRanks" class="font-italic">FernandoAMartinez/AOE2UserRanks</a><br />
            Age of Empires II DE © Microsoft Corporation. <span class="font-italic">AOE2 Ladder Stats</span> was created under Microsoft's "<a href="https://www.xbox.com/en-us/developers/rules">Game Content Usage Rules</a>" using assets from Age of Empires II DE, and it is not endorsed by or affiliated with Microsoft.
        </p>
    </div>
</div>

@code{
    [Inject] protected Services.IStringServices ApiStrings { get; set; }

    private Models.GeneralData GeneralData;

    protected override async Task OnInitializedAsync()
    {
        var storedStrings = await localStorage.GetItemAsync<GeneralData>("strings_en");
        if (storedStrings == null) GeneralData = await ApiStrings.GetStringsAsync("en");
        else GeneralData = storedStrings;
        await localStorage.SetItemAsync<GeneralData>("strings_en", GeneralData);
    }
}