@inherits LayoutComponentBase


<div class="sidebar flex-column">
    <NavMenu />
</div>



<div class="main bg-dark text-white">
    <div class="top-row px-4" style="z-index:10">
        <select class="custom-select-sm">
            <option>en</option>
            <option>es</option>
        </select>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4 bg-dark text-white">
        @Body
    </div>
</div>
