@page "/leaderboard/"

<div class="container-fluid row">
    <div class="col-md-4 m-3">
        <select class="form-select" aria-label="Default select example" @bind="leaderboardId">
            <option selected>Select Leaderboard</option>
            <option value="1">1v1 Deathmatch</option>
            <option value="2">Team Deathmatch</option>
            <option value="3">1v1 Random Map</option>
            <option value="4">Team Random Map</option>
        </select>
    </div>
</div>

@if (leaderboardId != null)
{
    <LeaderboardRatingTable leaderboardId="@leaderboardId" />
}


@code {
    [Parameter]
    public string leaderboardId { get; set; }
}