@page "/profile"

<h3>Profile</h3>

<div class="container-fluid">
    <div class="row p-2 border">
        <div class="col-md-4 p-2 border">
            <div class="card">
                <div class="card-img">
                    <img src="~/icon-512.png" />
                </div>
                <div class="card-body">
                    <span class="oi-person">KrapsuS</span>
                    <span class="oi-code">1103</span>
                </div>
            </div>
        </div>
        <div class="col-md-8 p-2 border">

        </div>
    </div>
</div>

@code {

}
