@page "/profile/matches"

<h3>UserMatches</h3>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Leaderboard</th>
                <th>Rating</th>
                <th>Match</th>
                <th>Map</th>
                <th>Server</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr>
                <td>Random Map</td>
                <td>1121</td>
                <td>KrapsuS vs El Sin Manos</td>
                <td>Arabia</td>
                <td>Brazil</td>
                <td>Since 23 minutes</td>
            </tr>
        </tbody>
    </table>
@code {

}
