@typeparam TItem

<div class="container-fluid table-responsive text-center">
    <table class="table table-light table-hover table-striped table-bordered shadow-sm rounded" style="border-radius:5px">
        <thead class="bg-primary text-white">
            <tr>@TableHeader</tr>
        </thead>
        <tbody class="table-hover">
            @foreach (var item in Items)
            {
                <tr class="text-center">@RowTemplate(item)</tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }
}